
h2 {
	font-size:30px;
}
form {
	width:500px;
	margin:auto;
	padding:20px;
	background-image:url(../images/main.jpg);
	color:black;
	font-size:14px;
	font-family:Verdana;

}

.button{
	  background-color: blue;
	  display: block;
	  text-align: center;
	  border-radius: 12px;
	  border: 2px solid #366473;
	  padding: 14px 40px;
	  outline: none;
	  color: white;
	  cursor: pointer;
	  transition: 0.25px;
  }
	  

